<div class="card" *ngIf="selectedMovie">
    <div class="card-body">
        seçili id: {{selectedMovie.id}} , adı: {{selectedMovie.name}}
    </div>
    <div class="input-group">
        <input type="text"  [(ngModel)]="selectedMovie.name">

        <div class="input-group-append">
            <button>update</button>
        </div>

    </div>
</div>



<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <ul class="list-group list-group-flush">
        <li *ngFor="let item of movies" (click)="onSelect(item)"
        class="list-group-item"
        [class.active]="item===selectedMovie"
        >
            <div>
                {{item.id}}: {{item.name}}
            </div>

        </li>
    </ul>
</div>

<movie></movie>